<%- include("./partials/header") %>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-6">
            <h4>Agregar Categoría</h4>
        </div>
    </div>
</div>

<div class="container bg-gray">
    <div class="justify-content-center align-self-center">
        <% if(!data) { %>
        <form action="/categories/save" method="POST">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Nombre">
            </div>

            <div class="mt-4 text-right">
                <a href="/categories" class="btn btn-outline-secondary" type="submit">Cancelar</a>
                <button class="btn btn-outline-success" type="submit">Crear Categoría</button>
            </div>
        </form>
        <% } else { %>
        <form action="/categories/update/<%= data.id %>" method="POST">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="nombre" value="<%= data.nombre %>" class="form-control" placeholder="Nombre">
            </div>

            <div class="mt-4 text-right">
                <a href="/categories" class="btn btn-outline-secondary" type="submit">Cancelar</a>
                <button class="btn btn-outline-success" type="submit">Editar Categoría</button>
            </div>
        </form>
        <% } %>
    </div>
</div>

<%- include("./partials/footer") %>