<%- include("./partials/header") %>

<div class="text-center w-100 bg-light ">
    <div class="container text-center mx-auto">
        <h1>Bienvenido al sistema de venta - Bazar de ropa</h1>
    </div>
</div>

<%- include("./partials/footer") %>