
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="text-center w-100 bg-light ">
            <div class="container text-center mx-auto">
                <h1>Punto de venta - Bazar de ropa</h1>
            </div>
        </div>
        <div class="container my-5 h-100">
            <div class="jumbotron h-90 my-auto justify-content-center align-self-center text-center bg-light">  
    
                <div class="container h-50 my-auto justify-content-center align-self-center text-center">
                    <div class="row justify-content-center">
                        <div class="col-10 align-self-center text-center">
                            <input class="form-control" type="search" placeholder="Buscar producto..." aria-label="Search">
                        </div> 
                        <div class="col-2 align-self-center text-center"> 
                            <button class="btn btn-outline-success" type="submit">Buscar</button>  
                        </div> 
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg align-self-center text-left">
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                              </ul>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-5">
                        <div class="col-6 align-self-center text-left">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <button class="btn btn-outline-secondary" type="button">Cliente</button>
                                </div>
                                <select class="custom-select" id="inputGroupSelect03">
                                  <option selected>Elige cliente...</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-6 align-self-center text-left">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <button class="btn btn-outline-secondary" type="button">Envío</button>
                                </div>
                                <select class="custom-select" id="inputGroupSelect03">
                                  <option selected>Elige envío...</option>
                                  <option value="1">Si</option>
                                  <option value="2">No</option>
                                  
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    </body>
</html>